@model IEnumerable<SCBHarmonization.ViewModels.tbl_ExDetailsViewModel>
<table class="table table-borderless">
    <thead class="table-dark">
        <tr>
            <th>Action</th>
            <th>ExceptionType</th>
            <th>Amount</th>
            <th>Vat</th>
            <th>Fee</th>
            <th>TransID</th>
            <th>SrcAcc.No.</th>
            <th>SrcInst.Code</th>
            <th>SrcInstBranchCode</th>
            <th>SrcInstType</th>
            <th>SrcInstUniqueID.</th>
            <th>DestAcctNo</th>
            <th>DestInstCode</th>
            <th>DestInstBranchCode</th>
            <th>DestInstType</th>
            <th>DestInstUniqueID</th>
            <th>PaymentType</th>
            <th>BankIncome</th>
            <th>TransDate</th>
            <th>PsspParty</th>
            <th>AccountType</th>
            <th>AccountClass</th>
            <th>AccountDesignation</th>
            <th>Currency</th>
            <th>Channels</th>
            <th>TransactionTypeCode</th>
            <th>PepDesignatedAccount</th>
            <th>CypherSecurityLevyExempt</th>
            <th>StampDutyExempt</th>
            <th>Inflow</th>
            <th>AdditionalField</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <span id="btnEdit" class="glyphicon glyphicon-pencil btn btn-outline-danger" onclick="EditException(@item.Id)"></span>

                </td>
                <td>
                    @item.ExceptionType
                </td>
                <td>
                    @item.Amount
                </td>
                <td>
                    @item.Vat
                </td>
                <td>
                    @item.Fee
                </td>
                <td>
                    @item.TransID
                </td>
                <td>
                    @item.SrcAcctNo
                </td>
                <td>
                    @item.SrcInstCode
                </td>
                <td>
                    @item.SrcInstBranchCode
                </td>
                <td>
                    @item.SrcInstTypes
                </td>
                <td>
                    @item.SrcInstUniqueID
                </td>
                <td>
                    @item.DestAcctNo
                </td>
                <td>
                    @item.DestInstCode
                </td>
                <td>
                    @item.DestInstBranchCode
                </td>
                <td>
                    @item.DestInstTypes
                </td>
                <td>
                    @item.DestInstUniqueID
                </td>
                <td>
                    @item.PaymentTypes
                </td>
                <td>
                    @item.BankIncome
                </td>
                <td>
                    @item.TransDate
                </td>
                <td>
                    @item.PsspParty
                </td>
                <td>
                    @item.AccountTypes
                </td>
                <td>
                    @item.AccountClassTypes
                </td>
                <td>
                    @item.AccountDesignationTypes
                </td>
                <td>
                    @item.CurrencyTypes
                </td>
                <td>
                    @item.ChannelTypes
                </td>
                <td>
                    @item.TransactionTypeCode
                </td>
                <td>
                    @item.PepDesignatedAccount
                </td>
                <td>
                    @item.CypherSecurityLevyExempt
                </td>
                <td>
                    @item.StampDutyExempt
                </td>
                <td>
                    @item.Inflow
                </td>
                <td>
                    @item.AdditionalField
                </td>

            </tr>
        }
    </tbody>
</table>




