@model SCBHarmonization.Models.Credential

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layoutc.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Credential</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.USERNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USERNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KEY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KEY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IV)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
