@model SCBHarmonization.Models.Credential

@{
    ViewBag.Title = "ResetCredentials";
    Layout = "~/Views/Shared/_Layoutc.cshtml";
}

<h4>ResetCredentials Response :</h4>
<br />
<h5>Status : @ViewBag.Status</h5>
<br />
<h5>Message : @ViewBag.Message</h5>
<br />
<h5>Description : @ViewBag.Description</h5>
<br />
<h5>IV : @ViewBag.IV</h5>
<br />
<h5>Key : @ViewBag.Key</h5>


<div>
    @Html.ActionLink("Home", "Index", "Home")
</div>
